<apex:page showHeader="true" sidebar="true" tabStyle="Logs_Currency_Updater__tab" standardStylesheets="true">
	<apex:sectionHeader title="Logs"/>
	<apex:listViews type="s4g_currencies__LogCurrency__c"/>
</apex:page>