<apex:page id="thePage" standardController="Product2" extensions="AcctSeedERP.ManufacturingOrderFromProduct">
    <apex:includeScript value="{!URLFOR($Resource.AcctSeedERP__accounting_erp_resources, '/javascript/jquery.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.AcctSeedERP__accounting_erp_resources, '/javascript/erp-common.js')}"/>  
    <apex:form id="theForm">
        <apex:sectionHeader title="Product" subtitle="{!Product2.Name}" />
        <apex:pageBlock id="thePageBlock" title="Create Manufacturing Order">
        	<apex:pageMessages escape="false"/>
            <apex:pageBlockButtons >
           		<apex:actionStatus id="saveStatus" onstart="AcctSeedERP.ASModule.disableButtons('Creating Manufacturing Order...')" />
                <apex:commandButton status="saveStatus"  action="{!createManufacturingOrderFromProduct}" value="Create Manufacturing Order" rendered="{!!isError}" reRender="theForm"/>
                <apex:commandButton action="/{!Product2.Id}" value="Cancel"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection rendered="{!!isError}">
                <apex:inputField value="{!quantityProj.AcctSeedERP__Quantity_Ordered__c}" style="text-align:right;width:60px" required="true"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
     </apex:form>
</apex:page>