<apex:page standardController="User" showHeader="false" sidebar="false">
    <div id="mme_rlist" class="bRelatedList">
        <c:EmailMessageListRelated owner="{!User}" customPageSize="50"/>
    </div>
</apex:page>