<apex:page controller="tnw_mage_enterp.TNW_SendController" >
<apex:form >
	<apex:pagemessages id="theMessages"/>
	<apex:outputpanel layout="block" style="text-align: center; padding-top:50px;">
		<apex:outputpanel layout="block">
			<apex:outputtext style="font-size: 1.8em;   font-weight: normal;  line-height: 1.1em;" value="{!$Label.TNW_Mass_Action_Confirm}"/>
		</apex:outputpanel>
		<apex:outputpanel layout="block" style="padding:20px;">
			<apex:commandButton value="{!$Label.TNW_Send_Data_to_Magento}" action="{!sendDataToMagento}" id="theButton"/> &nbsp;
			<apex:commandButton value="{!$Label.TNW_Cancel}" action="{!cancelAction}" id="theButton2"/>
		</apex:outputpanel>
	</apex:outputpanel>
</apex:form>

</apex:page>