<apex:page standardController="Opportunity">
<apex:canvasApp namespacePrefix="Cloudfind_App" applicationName="Cloudfind_Rel" 
    height="620px" width="100%" scrolling="no"
    parameters="{package_version: 'prod_2.2', source: 'RecordFolderView', record: {id:'{!Opportunity.Id}', parent: {id:'{!JSENCODE(Opportunity.AccountId)}', type: 'Account'}, 
    name: '{!JSENCODE(Opportunity.Name)}', subfolder: '{!JSENCODE(Opportunity.Name)}'}}" />
</apex:page>