<apex:page standardController="AcctSeed__Account_Payable__c" extensions="AcctSeed.AccountPayablePostTransaction" action="{!postAccountPayables}">
    <apex:form >
        <apex:sectionHeader title="{!$ObjectType.AcctSeed__Account_Payable__c.label}" subtitle="{!AcctSeed__Account_Payable__c.Name}" />
        <apex:pageBlock title="Post">
            <apex:pageMessages escape="false" />
            <apex:pageBlockButtons >
                <apex:commandButton action="{!cancel}" value="Back" immediate="true"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>