<apex:page standardController="AcctSeed__Recurring_Account_Payable__c"  extensions="AcctSeed.AccountPayableFromRecrAccountPayable" recordSetVar="records" >
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
        var j$ = jQuery.noConflict();
        
        function disableButtons() {
            j$('[class*="pbButton"] > .btn').prop('disabled', true).val(label).toggleClass('btnDisabled');
        }
    </script>
    <apex:form id="theForm">
        <apex:sectionHeader title="{!$ObjectType.AcctSeed__Account_Payable__c.labelPlural}" subtitle="Create {!$ObjectType.AcctSeed__Account_Payable__c.labelPlural}" />  
        <apex:pageBlock id="thePageBlock" title="Create {!$ObjectType.AcctSeed__Account_Payable__c.labelPlural}">
            <apex:pageMessages escape="false"/>
            <apex:pageMessage rendered="{!isNoSelectionError}" severity="error" strength="3" summary="You have not selected any records with a status of active"/>
            <apex:pageBlockButtons id="buttons">
                <apex:actionStatus id="saveStatus" onstart="disableButtons('Processing...')"/>
                <apex:commandButton id="saveButton" action="{!createPayable}" value="Create Account Payable" status="saveStatus" rendered="{!!isNoSelectionError}" rerender="theForm"/>
                <apex:commandButton id="cancelButton" action="{!cancel}" value="Back" immediate="true"/>
            </apex:pageBlockButtons>   
            <apex:pageBlockSection rendered="{!!isNoSelectionError}" columns="1">
                <apex:pageBlockTable value="{!payableList}" var="bw" width="100%">
                    <apex:column value="{!bw.rPayable.Name}"/>
                    <apex:column value="{!bw.payable.AcctSeed__Vendor__c}"/>
                    <apex:column headerValue="{!$ObjectType.AcctSeed__Recurring_Account_Payable__c.fields.AcctSeed__Next_Account_Payable_Date__c.label}">
                        <apex:outputField value="{!bw.rPayable.AcctSeed__Next_Account_Payable_Date__c}" />
                    </apex:column>
                    <apex:column headerValue="{!$ObjectType.AcctSeed__Account_Payable__c.fields.AcctSeed__Accounting_Period__c.label}">
                        <apex:inputField value="{!bw.payable.AcctSeed__Accounting_Period__c}" required="true"/>
                    </apex:column>
                    <apex:column headerValue="Total" >
                        <apex:outputText value="{0, number, $###,###,###,##0.00}">
                            <apex:param value="{!bw.amount}"/>
                        </apex:outputText>
                        <apex:facet name="footer">
                            <apex:outputText value="{0, number, $###,###,###,##0.00}">
                                <apex:param value="{!PayableAmount}"/>
                            </apex:outputText>                       
                        </apex:facet>
                    </apex:column>
                </apex:pageBlockTable>
            </apex:pageBlockSection>        
        </apex:pageBlock>
    </apex:form>
</apex:page>