<apex:page id="thePage" standardController="Opportunity" extensions="AcctSeed.BillingFromOpportunity">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
        var j$ = jQuery.noConflict();    
        function disableButtons(label) {
            j$(".btn").toggleClass("btnDisabled").val(label).prop("disabled", true);
        }
    </script>
    <apex:form id="theForm">
        <apex:sectionHeader title="{!$ObjectType.Opportunity.label}" subtitle="{!Opportunity.Name}" />
        <apex:pageBlock id="thePageBlock" title="Create {!$ObjectType.AcctSeed__Billing__c.label} Confirmation">
            <apex:pageMessages escape="false"/>
            <apex:pageMessage summary="{!BILLING_EXISTS_WARNING}" severity="warning" strength="3" rendered="{!!isError}"/>
            <apex:pageBlockButtons >
                <apex:actionStatus id="saveStatus" onstart="disableButtons('Creating...')" />
                <apex:commandButton action="{!createBilling}" value="Create {!$ObjectType.AcctSeed__Billing__c.label}" status="saveStatus" reRender="theForm"/>
                <apex:commandButton action="{!cancel}" value="Back" immediate="true"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
        <apex:outputField value="{!Opportunity.isWon}" rendered="false"/>
        <apex:outputField value="{!Opportunity.Name}" rendered="false"/>
        <apex:outputField value="{!Opportunity.AccountId}" rendered="false"/>
        <apex:outputField value="{!Opportunity.CloseDate}" rendered="false"/>
        <apex:outputField value="{!Opportunity.Amount}" rendered="false"/>  
        <apex:outputField value="{!Opportunity.Description}" rendered="false" />      
    </apex:form>
</apex:page>