<apex:page id="thePage" standardController="AcctSeed__Cash_Disbursement_Batch__c" extensions="AcctSeed.CashDisbursementPost" action="{!unpostCashDisbursements}">
    <apex:form id="theForm">
        <apex:sectionHeader title="{!$ObjectType.AcctSeed__Cash_Disbursement_Batch__c.label}" subtitle="{!AcctSeed__Cash_Disbursement_Batch__c.Name}" />    
        <apex:pageBlock title="Batch Unpost">
            <apex:pageMessages escape="false"/>
            <apex:pageBlockButtons >
                <apex:commandButton value="Back" action="{!cancel}" immediate="true"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>