<apex:page id="thePage" standardController="AcctSeed__Cash_Disbursement__c" extensions="AcctSeed.CashDisbursementVoid">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
        var j$ = jQuery.noConflict();
        function disableButtons(label) {
            j$('.btn').each(function(elem) {
                this.className = 'btnDisabled';
                this.disabled = true;
                this.value = label;
            })
        } 
    </script>
    <apex:form id="theForm">
        <apex:sectionHeader title="{!$ObjectType.AcctSeed__Cash_Disbursement__c.label}" subtitle="{!AcctSeed__Cash_Disbursement__c.Name}" />    
        <apex:pageBlock id="thePageBlock" title="Void">
            <apex:pageMessages escape="false"/>
            <apex:pageMessage summary="Note: Void is a non reversible action. Please be certain you want to void this check" severity="warning" strength="3" rendered="{!NOT(isError) && NOT(isProcessed)}"/>
            <apex:pageBlockButtons id="buttons">
                <apex:actionStatus id="saveStatus" onstart="disableButtons('Processing...')"/>
                <apex:commandButton id="saveButtonTop" action="{!voidCashDisbursement}" value="Void" status="saveStatus" reRender="theForm" rendered="{!NOT(isError) && NOT(isProcessed)}"/>
                <apex:commandButton id="cancelButtonTop" action="{!cancel}" value="Back" immediate="true"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection rendered="{!NOT(isError) && NOT(isProcessed)}" columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Void Accounting Period"/>
                    <apex:inputField value="{!cashDisbursementVoid.AcctSeed__Accounting_Period__c}" required="true"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Void Disbursement Date"/>
                    <apex:inputField value="{!cashDisbursementVoid.AcctSeed__Disbursement_Date__c}" required="true"/>
                </apex:pageBlockSectionItem>
                <apex:outputField value="{!AcctSeed__Cash_Disbursement__c.AcctSeed__Payee__c}"/>
                <apex:outputField value="{!AcctSeed__Cash_Disbursement__c.AcctSeed__Check_Number__c}" rendered="{!AcctSeed__Cash_Disbursement__c.AcctSeed__Type__c='Check'}"/>
                <apex:outputField value="{!AcctSeed__Cash_Disbursement__c.AcctSeed__Disbursement_Date__c}"/>
                <apex:outputField value="{!AcctSeed__Cash_Disbursement__c.AcctSeed__Amount__c}"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>