<apex:page standardController="Opportunity" extensions="AcctSeed.RecurringBillingFromOpportunity" >
    <apex:form id="theForm">
        <apex:sectionHeader title="{!$ObjectType.Opportunity.label}" subtitle="{!Opportunity.Name}" />
        <apex:pageBlock id="thePageBlock" title="Create Recurring Billing Confirmation">
            <apex:pageMessage summary="{!RECURRING_BILLING_EXISTS_WARNING}" severity="warning" strength="3"/>
            <apex:pageBlockButtons >
                <apex:commandButton id="saveButtonTop" action="{!continueRecurringBilling}" value="Continue"/>
                <apex:commandButton id="cancelButtonTop" action="{!cancel}" value="Back" immediate="true"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>   
        <apex:outputField value="{!Opportunity.isWon}" rendered="false"/> 
        <apex:outputField value="{!Opportunity.AccountId}" rendered="false"/>
        <apex:outputField value="{!Opportunity.Name}" rendered="false"/> 
        <apex:outputField value="{!Opportunity.Amount}" rendered="false"/> 
    </apex:form>
</apex:page>